{% extends 'admin_panel/base_2a.html' %}
{%  load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}

{% block head_2a %}
    <link rel="stylesheet" href="{% static 'node_modules/flatpickr/dist/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin_panel/receipt/receipt.css' %}">
    <link rel="stylesheet" href="{% static 'admin_panel/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
{% endblock %}
{% block name %}
    Квитанции на оплату
 {% endblock %}
{% block navigation %}
    <li class="breadcrumb-item active">Квитанции на оплату</li>
{% endblock %}
{% block action_list %}
    <li><a class="dropdown-item" href="{% url 'add_receipt' %}">Создать общую квитанцию</a></li>
    <li><a class="dropdown-item" href="#">Удалить</a></li>
{% endblock %}

{% block card_body %}
   <table id="receipt" class="table border-0 table-bordered table-hover  linkedRow w-100">
      <thead>
        <tr>
          <th class="ps-0 pe-0 text-center">
              <input type="checkbox" value="1" name="selection_all">
          </th>
          <th>№ квитанции</th>
          <th>Статус</th>
          <th>Дата</th>
          <th>Месяц</th>
          <th>Квартира</th>
          <th>Владелец</th>
          <th>Проведена</th>
          <th>Сумма (грн)</th>
          <th></th>
        </tr>
        <tr class="border-0" >
            <td></td>
           <td style="min-width: 150px"><input type="text" class="form-control rounded-0"></td>
           <td style="min-width: 190px">
               <div class="form-group mb-0" >
                    <select class="form-control select2-simple select2-success rounded-0"  data-dropdown-css-class="select2-success"  tabindex="-1" aria-hidden="true" >
                        <option></option>
                        <option>Частично оплачена</option>
                        <option>Оплачена</option>
                        <option>Не оплачена</option>
                    </select>
               </div>
          </td>
           <td style="min-width: 150px">
               <input type="text" class="daterange" name="daterange" value="" />
           </td>
           <td style="min-width: 150px;position: relative">
               <input type="text" class="month-picker" type="datetime-local" value=""/>
          </td>
          <td style="min-width: 150px"><input type="text" class="form-control rounded-0"></td>
          <td  style="min-width: 200px">
              <div class="form-group mb-0">
                  <select class="form-control select2 select2-success rounded-0"  data-dropdown-css-class="select2-success"  tabindex="-1" aria-hidden="true" >
                    <option></option>
                    <option>Alaska... Alaska</option>
                    <option>California</option>
                    <option>Delaware</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Washington</option>
                  </select>
              </div>
          </td>
          <td  style="min-width: 150px">
               <div class="form-group mb-0" >
                    <select class="form-control select2-simple select2-success rounded-0"  data-dropdown-css-class="select2-success"  tabindex="-1" aria-hidden="true" >
                        <option></option>
                        <option>Проведена</option>
                        <option>Не проведена</option>
                    </select>
               </div>
          </td>
          <td  style="min-width: 150px"></td>
          <td  style="min-width: 150px"></td>
        </tr>
      </thead>
      <tbody>
          {% for receipt in receipts %}
            <tr class="border-0">
              <td class="ps-0 pe-0 text-center">
                  <input type="checkbox" value="" name="selection[]">
              </td>
              <td>{{ receipt.number }}</td>
              <td>
                  {% if receipt.get_status_display == 'Оплачена' %}
                      <span class="badge text-bg-success text-white">Оплачена</span>
                      {% elif receipt.get_status_display == 'Частино оплачена' %}
                      <span class="badge text-bg-warning text-white">Частино оплачена</span>
                      {% elif receipt.get_status_display == 'Не оплачена' %}
                      <span class="badge text-bg-danger text-white">Не оплачена</span>
                  {% endif %}
              </td>
              <td>{{ receipt.date_published }}</td>
              <td>{{ receipt.date_published|date:"F Y" }}</td>
              <td>{{ receipt.flat }}, {{ receipt.flat.house }}</td>
              <td>{{ receipt.flat.flat_owner }}</td>
              <td>
                  {% if receipt.is_complete %}
                      Проведена
                  {% else %}
                      Не проведена
                  {% endif %}
              </td>
              <td>{{ receipt.total_price }}</td>
              <td class="ps-1 pe-1  text-center">
                  <div class="btn-group">
                      <a class="btn btn-default" href="#" role="button"><i class="fa-solid fa-clone fa-rotate-90"></i></a>
                      <a class="btn btn-default" href="{% url 'update_receipt' receipt.id %}" role="button"><i class="fa-solid fa-pencil"></i></a>
                      <a class="btn btn-default" href="#" role="button"><i class="fa-solid fa-trash-can"></i></a>
                  </div>
              </td>
            </tr>
          {% endfor %}
      </tbody>
   </table>
{% endblock %}

{% block card_footer %}
    <div>
        <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        </ul>
    </div>
    <hr style="border-top: 1px solid darkgrey;">
    <div>
      <div class="d-flex flex-row flex-wrap"><span>Проведен приход:&nbsp;</span> <span class="text-bold">5 081 366.52 грн</span></div>
      <div class="d-flex flex-row flex-wrap"><span>Проведен расход:&nbsp;</span>  <span class="text-bold">2 042 796.02 грн</span></div>
    </div>
    </div>
{% endblock %}


{% block  script_2a %}
    <script type="application/javascript" src="{% static 'node_modules/flatpickr/dist/flatpickr.js' %}"></script>
    <script type="application/javascript" src="{% static 'node_modules/flatpickr/dist/l10n/ru.js' %}"></script>
    <script type="application/javascript" src="{% static 'node_modules/flatpickr/dist/plugins/monthSelect/index.js' %}"></script>
    <script type="application/javascript">
        $(".month-picker").flatpickr({
            locale: "ru", // locale for this instance only
            plugins: [
                new monthSelectPlugin({
                  locale: 'ru',
                  dateFormat: 'm-Y',
                  shorthand: true,
                  altFormat: 'F Y',
                })
              ]
        });
        $(document).ready(function () {
             $('#receipt').DataTable({
                 searching: false,
                 ordering:  false,
                paging: false,
                select: true,
                "bInfo" : false

            });
        });
    </script>
    <script type="module" src="{% static 'admin_panel/receipt/receipt.js' %}"></script>
{% endblock %}