{% extends 'admin_panel/base_2b.html' %}
{%  load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}
{% block title_2b %}
    Пользователи
{% endblock %}
{% block head_2b %}
    <link rel="stylesheet" href="{% static 'admin_panel/system_settings/users/users.css' %}">
{% endblock %}
{% block name %}
    Пользователи
 {% endblock %}
{% block navigation %}
    <li class="breadcrumb-item active">Пользователи</li>
{% endblock %}
{% block action_list %}
    <a class="btn btn-success" href="{% url 'add_personal' %}">Добавить пользователя</a>
{% endblock %}

{% block card_body %}
   <table id="users" class="table border-0 table-bordered table-hover table-striped linkedRow w-100">
      <thead>
        <tr>
          <th>#</th>
          <th>Пользователь</th>
          <th>Роль</th>
          <th>Телефон</th>
          <th>Email (логин)</th>
          <th>Статус</th>
          <th></th>
        </tr>
        <tr class="border-0" >
            <td></td>
           <td style="min-width: 150px"><input type="text" class="form-control rounded-0"></td>
           <td style="min-width: 190px">
               <div class="form-group mb-0" >
                    <select class="form-control select2-simple select2-success rounded-0"  data-dropdown-css-class="select2-success"  tabindex="-1" aria-hidden="true" >
                        <option></option>
                        <option>Роль 1</option>
                    </select>
               </div>
          </td>
          <td style="min-width: 150px"><input type="text" class="form-control rounded-0"></td>
          <td style="min-width: 150px"><input type="text" class="form-control rounded-0"></td>
          <td style="min-width: 190px">
               <div class="form-group mb-0" >
                    <select class="form-control select2-simple select2-success rounded-0"  data-dropdown-css-class="select2-success"  tabindex="-1" aria-hidden="true" >
                        <option></option>
                        <option>Активен</option>
                        <option>Новый</option>
                        <option>Отключен</option>
                    </select>
               </div>
          </td>
          <td></td>
        </tr>
      </thead>
      <tbody>
       {% for personal in personals %}
         <tr style="cursor:pointer" class="border-0">
          <td data-href="{% url 'read_personal' personal.id %}">{{ personal.user.id }}</td>
          <td data-href="{% url 'read_personal' personal.id %}">{{ personal.user.last_name }}{{ personal.first_name }}</td>
          <td data-href="{% url 'read_personal' personal.id %}">{{ personal.get_role_display }}</td>
          <td data-href="{% url 'read_personal' personal.id %}">{{ personal.user.phone }}</td>
          <td data-href="{% url 'read_personal' personal.id %}">{{ personal.user.email }}</td>
          <td data-href="{% url 'read_personal' personal.id %}">
              {% if personal.user.get_status_display == 'Активен' %}
                  <span class="badge text-bg-success text-white">Активен</span>
                  {% elif personal.user.get_status_display == 'Новый' %}
                  <span class="badge text-bg-warning text-white">Новый</span>
                  {% else %}
                  <span class="badge text-bg-danger text-white">Отключён</span>
              {% endif %}
          </td>
          <td class="ps-1 pe-1">
              <form action="{% url 'delete_personal' personal.user.id %}" method="post">
                  <div class="btn-group">
                          {% csrf_token %}
                          <a class="btn btn-default" href="{% url 'personals' %}" role="button"><i class="fa-solid fa-rotate-right"></i></a>
                          <a class="btn btn-default" href="{% url 'update_personal' personal.user_id %}" role="button"><i class="fa-solid fa-pencil"></i></a>
                          <button class="btn btn-default delete-confirmation" type="submit" role="button"><i class="fa-solid fa-trash-can"></i></button>
                  </div>
              </form>

          </td>
        </tr>
       {% endfor %}
      </tbody>
   </table>
{% endblock %}

{% block card_footer %}
    <div>
        <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        </ul>
    </div>
{% endblock %}


{% block  script_2b %}
    <script type="application/javascript">
        $(document).ready(function () {
             $('#users').DataTable({
                 searching: false,
                 ordering:  false,
                paging: false,
                select: true,
                "bInfo" : false

            });
        });
        $("form").on('submit', function() {
            return confirm('Вы уверены, что хотите удалить этот элемент?');
        });

        document.addEventListener("DOMContentLoaded", function(event) {
            const rows = document.querySelectorAll("td[data-href]");
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
    <script type="module" src="{% static 'admin_panel/system_settings/users/users.js' %}"></script>
{% endblock %}