{% extends 'admin_panel/base.html' %}
{%  load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}

{% block head %}
{% endblock %}


{% block content %}
    <div class="content-wrapper" style="height: auto">
    <!-- Content Header (Page header) -->
    <section class="content-header pb-0">
      <div class="container-fluid">
        <div class="row mb-2">
         <div class="col-sm-6">
            <h4 class="mb-0">Редактирование страницы</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'statistic' %}">Главная</a></li>
                <li class="breadcrumb-item">Редактирование страницы</li>
            </ol>
          </div>
        </div>
        <hr style="border-top: 1px solid darkgrey;">
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
       <div class="card card-primary card-outline card-success ps-3">
            <div class="card-header ps-0 border-bottom-0 text-gray-dark">
                <h5 class="p-0 fs-5">Редактирование страницы "Тарифы"</h5>
                        <hr style="border-top: 1px solid darkgrey;">
            </div>
            <div class="card-body ps-0">
                <form method="post" action="{% url 'tariffs' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5 class="p-0 fs-5">Услуги</h5>
                    <hr style="border-top: 1px solid darkgrey;">
                    {% bootstrap_form tariff_site_form %}
                    {{ info_photo_formset.management_form }}
                    {% bootstrap_formset info_photo_formset %}
                    {% bootstrap_form seo_form %}



                    {% bootstrap_button "Отменить" button_type="reset" button_class="btn-default" %}
                    {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-success" %}

                </form>
            </div>

        </div>
    </section>
    <!-- /.content -->
  </div>

{% endblock %}

{% block  script %}

{% endblock %}